<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="/img/ifp_logo_color.png"
      type="image/x-icon" />

    <link
      href="/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css" />

    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet" />

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />

    <link href="/css/sb-admin-2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/style.css" />

    <title>Isaiah 41.10 Pharmacy | Page Not Found</title>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <ul
        class="navbar-nav bg-gradient-danger sidebar sidebar-dark accordion"
        id="accordionSidebar">
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/">
          <div class="sidebar-brand-icon">
            <img src="/img/ifp_logo_white.png" style="height: 3rem" />
          </div>
          <div class="sidebar-brand-text mx-3">
            <div
              class="h2 fw-bold m-0 p-0 fst-italic fw-bolder"
              style="font-family: Arial, Helvetica, sans-serif">
              IFP
            </div>
          </div>
        </a>

        <hr class="sidebar-divider my-0" />

        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="fas fa-th-large"></i>
            <span>Dashboard</span></a
          >
        </li>

        <hr class="sidebar-divider d-none d-md-block" />

        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <button
              id="sidebarToggleTop"
              class="btn text-danger d-md-none rounded mr-3">
              <i class="fa fa-bars"></i>
            </button>
          </nav>

          <div class="container-fluid">
            <div class="text-center p-5">
              <i class="fas fa-exclamation-triangle fs-1 text-danger mb-3"></i>
              <div class="error mx-auto text-danger" data-text="404">404</div>
              <p class="lead text-gray-800 mb-5 fw-bold">
                <span class="fw-light text-danger"><%= url %></span> Page Not
                Found
              </p>
              <p class="text-gray-500 mb-0">Something went wrong...</p>
              <a href="/" class="text-danger">&larr; Back to Dashboard</a>
            </div>
          </div>
        </div>
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Isaiah 41.10 Pharmacy 2021</span>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/fontawesome-free/js/all.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
  </body>
</html>
