<!DOCTYPE html>
<html lang="en">
  <%- include('./components/header.ejs',{ title:'Isaiah 41.10 Pharmacy' }) %>
  <body id="page-top">
    <div id="wrapper">
      <%- include('./components/sidebar.ejs',{ bgColor:'bg-gradient-success' }) %>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow d-block d-sm-block d-md-none">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-3 border border-success mr-3 text-success">
              <i class="fa fa-bars"></i>
            </button>
          </nav>
          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between my-4">
              <h1 class="h4 mb-0 text-gray-800"><i class="fas fa-th-large me-2 text-success"></i>Dashboard</h1>
            </div>

            <div class="row mb-3 g-3">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Medicine</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-capsules fa-2x text-gray-500"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">₱0</div>
                      </div>
                      <div class="col-auto">
                        <span class="fa-2x text-gray-500">₱</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total of Sales</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-500"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Stocks</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-box-open fa-2x text-gray-500"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row gy-3 mb-3">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
                <div class="card shadow h-100 mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Earnings Overview</h6>
                  </div>
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="myAreaChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4">
                <div class="h-100 card shadow mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-success">Stocks</h6>
                  </div>
                  <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                      <canvas id="myPieChart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 mb-4">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">Recent Purchase</h6>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-borderless" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Purchase ID</th>
                            <th>Purchased At</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th>Purchase ID</th>
                            <th>Purchased At</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                          </tr>
                        </tfoot>
                        <tbody id="dashboardPurchaseTable"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('./components/footer.ejs') %>
      </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/fontawesome-free/js/all.min.js"></script>
  </body>
</html>
