<ul class="navbar-nav <%= (typeof(bgColor) !=='undefined') ? bgColor : 'bg-gradient-success' %> sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon">
      <img src="/img/ifp_logo_white.png" style="height: 3rem" />
    </div>
    <div class="sidebar-brand-text mx-3">
      <div class="h2 fw-bold m-0 p-0 fst-italic fw-bolder" style="font-family: Arial, Helvetica, sans-serif">IFP</div>
    </div>
  </a>

  <hr class="sidebar-divider my-0" />

  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-th-large"></i>
      <span>Dashboard</span>
    </a>
  </li>

  <hr class="sidebar-divider" />

  <div class="sidebar-heading">Medicine</div>

  <hr class="sidebar-divider d-none d-md-block" />

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
